.cart-items{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    max-height: 22rem;
    list-style: none;
    overflow:auto;
}
.total{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0.5rem;
    padding-right: 1rem;
}