.summary{
    position: relative;
    margin: -10rem auto 0 auto;
    padding: 1em 1.5em;
    border-radius: 14px;
    width: 55%;
    text-align: center;
    background-color: rgb(231, 230, 230);
    box-shadow: 4px 4px 20px 5px rgba(0,0,0,0.25);
    z-index: 5;
}
.summary p{
    line-height:1.4rem;
    margin: 0.5rem 0;
}
@media only screen and (max-width:1024px){
    .summary{
        width: 70%;
    }
}
@media only screen and (max-width:768px){
    .summary{
        width: 80%;
    }
}
@media only screen and (max-width:480px){
    .summary{
        width: 100%;
    }
}